// .prettierrc (na raiz do projeto)
{
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "avoid"
  }
